.contactus {
  background-color: #02a4ae;
  margin: 0 180px 16rem;
  padding: 5rem 6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-heading {
    &-main {
      font-family: SVN-Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 16px;
    }
    &-sub {
      font-family: SVN-Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid $white;
    border-radius: 5px;
    &-text {
      font-family: SVN-Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      margin-right: 12px;
    }
    &-arrow {
    }
  }
}
@include desktops() {
  .contactus {
    background-color: #02a4ae;
    margin: 0 120px 16rem;
    padding: 5rem 6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-heading {
      &-main {
        font-family: SVN-Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
      }
      &-sub {
        font-family: SVN-Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      border: 1px solid $white;
      border-radius: 5px;
      &-text {
        font-family: SVN-Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 12px;
      }
      &-arrow {
      }
    }
  }
}
@include phone() {
  .contactus {
    background-color: #02a4ae;
    margin: 0 0 6rem;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &-heading {
      margin-bottom: 40px;
      &-main {
        font-family: SVN-Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
      }
      &-sub {
        font-family: SVN-Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      border: 1px solid $white;
      border-radius: 5px;
      &-text {
        font-family: SVN-Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 12px;
      }
      &-arrow {
      }
    }
  }
}
@include ipad() {
  .contactus {
    background-color: #02a4ae;
    margin: 0 0 6rem;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &-heading {
      margin-bottom: 40px;
      &-main {
        font-family: SVN-Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
      }
      &-sub {
        font-family: SVN-Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      border: 1px solid $white;
      border-radius: 5px;
      &-text {
        font-family: SVN-Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 12px;
      }
      &-arrow {
      }
    }
  }
}
