.contactus-heading {
  background: $bg-color;
  padding: 15rem 0;
  h2 {
    font-size: 6.4rem;
    font-weight: 500;
    color: $bg-block;
    margin: 0 24rem;
  }
}
.parents {
  padding: 16rem 24rem;
}
.contact__form {
  background: #e5f9f9;
  padding: 10rem;
  width: 100%;
  color: $black;
  &-title {
    display: block;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 6.4rem;
  }
  &-text {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem 0;
  }
  .name {
    display: flex;
    gap: 0 1.6rem;
    .first-name {
      flex: 1;
    }
    .last-name {
      flex: 1;
    }
  }
  input,
  select,
  textarea {
    width: 100%;
    padding: 1.6rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid rgba(61, 68, 78, 0.281);
  }
  .btn-submit {
    background: $bg-color;
    padding: 1.2rem 4.8rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    outline: none;
    border: unset;
    cursor: pointer;
    margin-top: 6.4rem;
    transition: 0.5s all;
  }
  .btn-submit:hover {
    background: $bg-block;
    color: $white;
  }
}
@include phone() {
  .contactus-heading {
    background: $bg-color;
    padding: 3rem 0;
    h2 {
      font-size: 3rem;
      margin: unset;
    }
  }
  .contact__form {
    padding: 3rem;
    margin: 3rem 0;
    color: $black;
    &-title {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
    &-text {
      font-size: 1.2rem;
      padding: 1rem 0;
    }
    .name {
      display: flex;
      gap: 0 1.6rem;
      .first-name {
        flex: 1;
      }
      .last-name {
        flex: 1;
      }
    }
    input,
    select,
    textarea {
      width: 100%;
      padding: 1.6rem;
      outline: none;
      border-radius: 0.5rem;
      border: 1px solid rgba(61, 68, 78, 0.281);
    }
    .btn-submit {
      background: $bg-color;
      padding: 0.9rem 1.2rem;
      border-radius: 0.5rem;
      font-size: 1.8rem;
      margin-top: 3.9rem;
      min-width: 9rem;
    }
  }
  .parents {
    padding: unset;
  }
}
@include phone-l() {
  .parents {
    padding: unset;
  }
}
@include mobile() {
  .parents {
    padding: unset;
  }
}
@include ipad() {
  .parents {
    padding: unset;
  }
}
@include tablet() {
  .contactus-heading {
    background: $bg-color;
    padding: 6rem 0;
    h2 {
      font-size: 4.8rem;
      font-weight: 500;
      color: $bg-block;
      margin: unset;
    }
  }
  .contact__form {
    padding: 3rem;
    margin: 3rem 0;
    &-title {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
    &-text {
      font-size: 1.2rem;
      padding: 1rem 0;
    }
    .name {
      display: flex;
      gap: 0 1.6rem;
      .first-name {
        flex: 1;
      }
      .last-name {
        flex: 1;
      }
    }
    input,
    select,
    textarea {
      width: 100%;
      padding: 1.6rem;
      outline: none;
      border-radius: 0.5rem;
      border: 1px solid rgba(61, 68, 78, 0.281);
    }
    .btn-submit {
      background: $bg-color;
      padding: 0.9rem 1.2rem;
      border-radius: 0.5rem;
      font-size: 1.8rem;
      margin-top: 3.9rem;
      min-width: 9rem;
    }
  }
}
@include desktops() {
}
