.contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-block;
    padding: 6rem;
    border-radius: 1rem;
    margin-bottom: 10rem;
    &__text{
        color:$white;
        &-heading{
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 1.6rem;
        }
        &-subtext{
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
    &__button{
        &-chat{
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            padding: 1rem 2rem;
            font-weight: 600;
            border: 1px solid $white;
            border-radius: .5rem;
            transition: .3s linear;
            &:hover{
                background: $white;
                color:$bg-block;
            }
        }
    }
    
}