footer{
    background: $bg-footer;
    padding: 10rem 0;
}
.footer__top{
    border-bottom: 1px solid $white;
    padding:2rem 0;
    &-text{
        color:$white;
        font-size: 1.6rem;
        font-weight: 400;
    }
    &-logo{
        max-width: 100%;
        margin: 4rem 0;
    }
    &-subtext{
        color:$white;
        font-size: 1.6rem;
        font-weight: 400;
    }
}
.footer__bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 0;
    &-coppyright{
        color: $white;
        font-size: 1.4rem;
        font-weight: 400;
    }
    &-social{
        a{
            color: $white;
            font-size: 2rem;
            margin-left: 1rem;
            transition: 1s linear;
            :hover{
                color:$bg-block;
                transform: scale(1.3);
            }
        }
    }
}