.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    @include tablet(){
        padding: 2rem 0;
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo{
            margin-right: 16rem;
            img{
                height: 5rem;
            }
        }
        &-icon{
            display: inline-block;
            color:$black;
            font-size: 2.4rem;
            font-weight: 600;
            flex:1;
        }
        @include tablet(){
            &-logo{
                margin-right: 5rem;
                
            }
        }
        
    }
    &__search{
        &-icon{
            color:$black;
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
}
@include phone(){
    .header{
        &__nav{
            width: 100%;
            display: flex;
            align-items: center;
            &-logo{
                margin-right: 0rem;
                flex-basis: 90%;
                img{
                    height: 5rem;
                }
            }
            &-icon{
                display: inline-block;
                color:$black;
                font-size: 4rem;
                flex-basis: 10%;
            }
            
        }
        &__search{
            display: none;
            &-icon{
                color:$black;
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
    }
}