.marketing-content {
    position: relative;
}

.marketing-content::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 27%;
    left: -14%;
    background: url(../img/bg-ico-marketing-service.png);
    mix-blend-mode: lighten;
    border-radius: 60px;
    background-repeat: no-repeat;
    background-size: contain;

    @include desktops {
        top: 24%;
    }

    @include tablet {
        top: 25%;
        left: -20%;
    }

    @include phone {
        width: 100%;
        height: 50%;
        top: 27%;
        left: -54%;
    }
}

.marketing-service {
    position: relative;
    padding: 6rem 0;
    @include desktops {
        padding: 3rem 0;
    }
    @include tablet {
        padding: 2.4rem 0;
    }
    &__heading {
        width: 525.8px;
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 9rem;
        @include tablet {
            margin-bottom: 6rem;
        }
        @include mobile {
            width: unset;
            font-size: 28px;
            line-height: 29px;
            margin-bottom: 3rem;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 6rem;
        justify-content: center;
        @include desktops {
            gap: 3rem;
        }
        @include tablet {
            gap: 2.4rem;
        }
        @include phone {
            justify-content: stretch;
            gap: 1.6rem;
        }
    }
    &__item {
        padding: 4.5rem;
        background: linear-gradient(90deg, #173e4a 4.56%, rgba(23, 62, 74, 0) 100%);
        mix-blend-mode: luminosity;
        border-radius: 5px;
        @include desktops {
            padding: 2.5rem;
        }
        @include tablet {
            padding: 1.6rem;
        }
        @include phone {
            flex-basis: 45%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        @include desktops {
            font-size: 2.4rem;
        }
        @include tablet {
            font-size: 18px;
        }
    }
}

.marketing-service.marketing-service--smart-contract::before {
    content: "";
    position: absolute;
    height: 130%;
    width: 50%;
    top: -40%;
    right: 0;
    background: url(../img/smart-contract-bg.png);
    mix-blend-mode: lighten;
    border-radius: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left center;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    @include mobile {
        background-size: 150%;
        top: -18%;
    }
}

.marketing-system {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;
        @include phone {
            gap: 2rem;
        }
    }
    &__item {
        background: linear-gradient(180deg, #173e4a 0%, rgba(23, 62, 74, 0) 100%);
        border: 1px solid #00c1c1;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 6rem;
        flex-basis: calc(25% - 4rem);

        @include tablet {
            padding: 2rem;
        }
        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__photo {
        width: 10rem;
        padding: 2rem;
        background: #173e4a;
        border: 3px solid #3ccace;
        border-radius: 15px;
        box-sizing: border-box;
        @include phone {
            width: 7rem;
            padding: 1rem;
        }
    }
    &__heading {
        padding-top: 40px;
        font-weight: 600;
        font-size: 32px;
        line-height: 34px;
        @include phone {
            padding-top: 2rem;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }
    }
}
