.news-content {
    background: $bg-color;
    color: $white;
    padding: 6rem 0 6rem;
    .feature-block {
        background: linear-gradient(180deg, #173e4a 0%, rgba(23, 62, 74, 0.1) 100%);
        border-radius: 10px;
    }
}

.news {
    padding-top: 9rem;
    &__title {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 6rem;
        font-weight: 400;
        color: $white;
    }
    &__block {
        padding: 12rem;
        background: linear-gradient(180deg, #173e4a 0%, rgba(23, 62, 74, 0.1) 100%);
        border-radius: 10px;
        @include desktops {
            padding: 6rem;
        }
        @include tablet {
            padding: 6rem;
        }
        @include mobile {
            padding: 2rem;
        }
        .new__btn-show {
            margin-top: 6rem;
            display: inline-flex;
            align-items: center;
            gap: 0 1rem;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 150%;
            @include tablet {
                font-size: 1rem;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem calc(10% / 3);
        margin-left: -(10% / 6);
        margin-right: -(10% / 6);
        @include tablet {
            row-gap: 2rem;
            margin-left: -(10% / 4);
            margin-right: -(10% / 4);
        }
    }
    &__item {
        position: relative;
        flex-basis: 30%;
        @include tablet {
            flex-basis: calc(45%);
        }
        @include mobile {
            flex-basis: 100%;
        }
    }
    &__info {
        position: absolute;
        left: 0;
        right: 10%;
        bottom: 0;
        background-color: $white;
        padding: 4rem;
        @include tablet {
            padding: 2rem;
        }
        @include mobile {
            // right: 50%;
        }
        .news__head {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 150%;
            color: #02a4ae;
            @include tablet {
                font-size: 1rem;
            }
        }
        .news__heading {
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 120%;
            color: $black;
            margin: 16px 0px;
            @include tablet {
                font-size: 1.8rem;
                margin: 1rem 0;
            }
        }
        .news__btn {
            display: inline-flex;
            align-items: center;
            gap: 0 1rem;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 150%;
            @include tablet {
                font-size: 1rem;
            }
        }
    }
}
