.services {
}
.services__how {
    margin-top: 160px;
    &-text {
        display: flex;
        gap: 0 95px;
        margin-bottom: 10rem;
        &-heading {
            font-size: 42px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            max-width: 385px;
        }
        &-subheading {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
            position: relative;
            padding-top: 20px;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 5px;
                background: #00c1c1;
            }
        }
    }
    &-lists {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 80px 60px;
        margin-bottom: 10rem;
        &-item {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 5rem;
            background-color: $dark-bg;
            border-radius: 10px;
            .services-item-left {
                display: flex;
                align-items: flex-start;
                &-img {
                    margin-right: 3rem;
                }
                &-subheading {
                    margin-right: 6.6rem;
                    max-width: 395px;

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                &-heading {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-right: 6.6rem;
                    max-width: 395px;
                    margin-bottom: 4.6rem;
                    padding: 10px 0;
                }
            }
            .services-item-right {
                img {
                    max-width: 12px;
                    max-height: 12px;
                }
            }
        }
        &-item:hover {
            background-color: $white;
            cursor: pointer;
        }
        &-item:hover .services-item-left-heading,
        &-item:hover .services-item-left-subheading {
            color: $black;
        }
    }
    &-image {
        margin-bottom: 16rem;
        &-src {
            margin: 0 auto;
        }
    }
    &-technology {
        margin-bottom: 16rem;
        .technology {
            display: flex;
            align-items: flex-start;
            gap: 0 95px;
            &-heading {
                font-size: 42px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: left;
                max-width: 385px;
            }
            &-subheading {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;
                position: relative;
                padding-top: 20px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 5px;
                    background: #00c1c1;
                }
            }
        }
        .technology__element {
            display: flex;
            gap: 0 60px;
            justify-content: center;
            &-left,
            &-right {
                display: flex;
                gap: 30px 0;
                flex-direction: column;
            }
            &-left {
                align-items: flex-end;
            }
            &-right {
                align-items: flex-start;
            }
            .technology-text {
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;
                display: inline-block;
                padding: 6rem;
                background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
            }
        }
    }
}

@include desktops() {
    .services__how {
        margin-top: 160px;
        &-text {
            display: flex;
            gap: 0 95px;
            margin-bottom: 10rem;
            &-heading {
                font-size: 42px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: left;
                max-width: 385px;
            }
            &-subheading {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;
                position: relative;
                padding-top: 20px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 5px;
                    background: #00c1c1;
                }
            }
        }
        &-lists {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 80px 60px;
            margin-bottom: 10rem;
            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 3rem;
                background-color: $dark-bg;
                border-radius: 10px;
                flex-basis: calc(100% / 2 - 60px);
                .services-item-left {
                    display: flex;
                    align-items: flex-start;
                    &-img {
                        margin-right: 3rem;
                    }
                    &-subheading {
                        margin-right: 6.6rem;
                        max-width: 395px;

                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    &-heading {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 34px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-right: 6.6rem;
                        max-width: 395px;
                        margin-bottom: 3rem;
                        padding: 10px 0;
                    }
                }
            }
        }
        &-image {
            margin-bottom: 16rem;
            &-src {
                margin: 0 auto;
            }
        }
        &-technology {
            margin-bottom: 16rem;
            .technology {
                display: flex;
                align-items: flex-start;
                gap: 0 95px;
                &-heading {
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 44px;
                    letter-spacing: 0em;
                    text-align: left;
                    max-width: 385px;
                }
                &-subheading {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: left;
                    position: relative;
                    padding-top: 20px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: 5px;
                        background: #00c1c1;
                    }
                }
            }
            .technology__element {
                display: flex;
                gap: 0 60px;
                justify-content: center;
                &-left,
                &-right {
                    display: flex;
                    gap: 30px 0;
                    flex-direction: column;
                }
                &-left {
                    align-items: flex-end;
                }
                &-right {
                    align-items: flex-start;
                }
                .technology-text {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: left;
                    display: inline-block;
                    padding: 6rem;
                    background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
                }
                .technology-text:hover {
                    cursor: pointer;
                    border: 1px solid $white;
                }
            }
        }
    }
}

@include phone() {
    .services__how {
        margin-top: 160px;
        &-text {
            display: flex;
            gap: 16px 0;
            flex-direction: column;
            margin-bottom: 3rem;
            &-heading {
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: left;
                max-width: 385px;
            }
            &-subheading {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: 0em;
                text-align: left;
                position: relative;
                padding-top: 20px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 5px;
                    background: #00c1c1;
                }
            }
        }
        &-lists {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 16px 0px;
            margin-bottom: 6rem;
            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                padding: 2.4rem;
                background-color: $dark-bg;
                border-radius: 10px;
                &.order-4 {
                    order: 4;
                    .services-item-right {
                        transform: rotate(90deg);
                    }
                }
                .services-item-left {
                    display: flex;
                    align-items: flex-start;

                    &-img {
                        margin-right: 3rem;
                        width: 70px;
                        height: 70px;
                    }
                    &-subheading {
                        margin-right: 6.6rem;
                        max-width: 395px;

                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 13px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    &-heading {
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-right: unset;
                        max-width: 143px;
                        margin-bottom: 10px;
                        padding: 0;
                    }
                }
            }
        }
        &-image {
            margin-bottom: 6rem;
            &-src {
                margin: 0 auto;
            }
        }
        &-technology {
            margin-bottom: 6rem;
            .technology {
                display: flex;
                flex-direction: column;
                gap: 0 95px;
                &-heading {
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.4;
                    letter-spacing: 0em;
                    text-align: left;
                    max-width: 100%;
                    margin-bottom: 16px;
                }
                &-subheading {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    position: relative;
                    padding-top: 20px;
                    margin-bottom: 30px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: 5px;
                        background: #00c1c1;
                    }
                }
            }
            .technology__element {
                display: flex;
                gap: 0 16px;
                justify-content: center;
                &-left,
                &-right {
                    display: flex;
                    gap: 16px 0;
                    flex-direction: column;
                }
                &-left {
                    align-items: flex-end;
                }
                &-right {
                    align-items: flex-start;
                }
                .technology-text {
                    display: flex;
                    align-items: center;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding: 1.6rem;
                    min-height: 80px;
                    background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
                }
            }
        }
    }
}

@include ipad() {
    .services__how {
        margin-top: 160px;
        &-text {
            display: flex;
            gap: 16px 0;
            flex-direction: column;
            margin-bottom: 3rem;
            &-heading {
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: left;
                max-width: 385px;
            }
            &-subheading {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: 0em;
                text-align: left;
                position: relative;
                padding-top: 20px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 5px;
                    background: #00c1c1;
                }
            }
        }
        &-lists {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 16px 0px;
            margin-bottom: 6rem;
            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                padding: 2.4rem;
                background-color: $dark-bg;
                border-radius: 10px;
                &.order-4 {
                    order: 4;
                    .services-item-right {
                        transform: rotate(90deg);
                    }
                }
                .services-item-left {
                    display: flex;
                    align-items: flex-start;

                    &-img {
                        margin-right: 3rem;
                        width: 70px;
                        height: 70px;
                    }
                    &-subheading {
                        margin-right: 6.6rem;
                        max-width: 395px;

                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 13px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    &-heading {
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-right: unset;
                        max-width: 143px;
                        margin-bottom: 10px;
                        padding: 0;
                    }
                }
            }
        }
        &-image {
            margin-bottom: 6rem;
            &-src {
                margin: 0 auto;
            }
        }
        &-technology {
            margin-bottom: 6rem;
            .technology {
                display: flex;
                flex-direction: column;
                gap: 0 95px;
                &-heading {
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.4;
                    letter-spacing: 0em;
                    text-align: left;
                    max-width: 100%;
                    margin-bottom: 16px;
                }
                &-subheading {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    position: relative;
                    padding-top: 20px;
                    margin-bottom: 30px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: 5px;
                        background: #00c1c1;
                    }
                }
            }
            .technology__element {
                display: flex;
                gap: 0 16px;
                justify-content: center;
                &-left,
                &-right {
                    display: flex;
                    gap: 16px 0;
                    flex-direction: column;
                }
                &-left {
                    align-items: flex-end;
                }
                &-right {
                    align-items: flex-start;
                }
                .technology-text {
                    display: flex;
                    align-items: center;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding: 1.6rem;
                    min-height: 80px;
                    background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
                }
            }
        }
    }
}
