.slider {
    margin-bottom: 10rem;
    &__item {
        flex-basis: 30%;
        padding: 0 2rem;
        .image {
            display: flex;
            flex-direction: column;
            padding: 5rem;
            border-left: 1px solid #42e8e0;
            @include mobile {
                padding: 3rem;
            }
        }
        .image.aboutus__image--border {
            border: 15px solid #173e4a;
        }
    }
    &__image {
        padding: 5rem 0;
        display: flex;
        justify-content: center;
    }
    &__image.slider__image--algin-start {
        justify-content: start;
        padding: 0;
    }
    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
        text-align: center;
        margin: 120px 0px;
        @include mobile {
            margin-bottom: 3rem;
            margin-top: 6rem;
        }
    }
    &__title.slider__title--center {
        text-align: start;
    }
    &__desc {
        font-size: 20px;
        line-height: 120%;

        color: #ffffff;
        @include mobile {
            font-size: 12px;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        max-width: 60px;
        padding: 10px 0;
        text-align: center;
        border: 1px solid #42e8e0;
        border-radius: 6px;
    }
    &__btn:hover {
        background-color: $btn-color;
    }

    &__number {
        position: relative;
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
        padding-bottom: 30px;
    }
    &__number::before {
        width: 30px;
        position: absolute;
        border-bottom: 3px solid #42e8e0;
        content: "";
        bottom: 0;
    }
}
