.slider {
    margin-bottom: 10rem;
    &__item {
        flex-basis: 30%;
        .image {
            // height: 732px;
            // margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            padding: 5rem;
            border-left: 1px solid #42e8e0;
        }
    }
    &__image {
        padding: 5rem 0;
        display: flex;
        justify-content: center;
    }
    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
        text-align: center;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        max-width: 60px;
        padding: 10px 0;
        text-align: center;
        border: 1px solid #42e8e0;
        border-radius: 6px;
    }
    &__btn:hover {
        background-color: $btn-color;
    }

    &__number {
        position: relative;
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
        padding-bottom: 30px;
    }
    &__number::before {
        width: 30px;
        position: absolute;
        border-bottom: 3px solid #42e8e0;
        content: "";
        bottom: 0;
    }
}
