.procedure {
    position: relative;
    background-color: $black;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__title {
        position: absolute;
        top: calc(0% + 6rem);
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: 42px;
        line-height: 44px;
        @include desktops {
            font-size: 3.8rem;
        }
        @include ipad {
            top: calc(0% + 3rem);
            left: calc(0% + 3rem);
            transform: unset;
        }
        @include mobile {
            top: calc(0% + 8rem);
            left: calc(0% + 3rem);
            transform: unset;
            font-size: 28px;
            line-height: 29px;
        }
        @include phone {
            top: calc(0% + 3rem);
        }
    }
    &__item {
        position: absolute;
        width: 136px;
        @include ipad {
            width: 100px;
        }
        @include mobile {
            width: 174px;
        }
        @include phone {
            width: 90px;
        }
        &-heading {
            font-weight: 600;
            font-size: 26px;
            line-height: 27px;
            @include phone {
                font-size: 16px;
                line-height: 17px;
            }
        }
        &-desc {
            padding-top: 1.2rem;
            font-size: 15px;
            line-height: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            @include desktops {
                -webkit-line-clamp: 7;
            }
            @include tablet {
                -webkit-line-clamp: 4;
            }
            @include mobile {
                -webkit-line-clamp: 7;
            }
            @include phone {
                font-size: 10px;
                line-height: 10px;
            }
        }
    }
    &__item:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s linear;
    }
}
.procedure.procedure__pc {
    background-image: url(../img/blockchain-step-1.png);
    padding-top: 70%;
    @include mobile {
        display: none;
    }
    .procedure__item:nth-child(2) {
        top: 22%;
        left: calc(10% - 10px);
    }

    .procedure__item:nth-child(3) {
        bottom: 16%;
        left: calc(20% - 10px);
    }

    .procedure__item:nth-child(4) {
        top: 26%;
        left: calc(30% - 10px);
    }

    .procedure__item:nth-child(5) {
        bottom: 25%;
        left: 40%;
    }

    .procedure__item:nth-child(6) {
        top: 19%;
        left: 50%;
    }

    .procedure__item:nth-child(7) {
        bottom: 16%;
        left: 60%;
    }

    .procedure__item:nth-child(8) {
        top: 30%;
        left: 70%;
    }
    .procedure__item:nth-child(9) {
        bottom: 19%;
        left: 80%;
    }
}

.procedure.procedure__mobile {
    display: none;
    @include mobile {
        display: block;
        padding-top: 200%;
        background-image: url(../img/blockchain_step_mobile-2.png);
    }
    .procedure__item:nth-child(2) {
        top: 15%;
        left: calc(12% - 10px);
    }
    .procedure__item:nth-child(3) {
        top: 24%;
        right: calc(18% - 10px);
    }
    .procedure__item:nth-child(4) {
        top: 34%;
        left: calc(12% - 10px);
    }

    .procedure__item:nth-child(5) {
        top: 44%;
        right: calc(18% - 10px);
    }

    .procedure__item:nth-child(6) {
        top: 52%;
        left: calc(12% - 10px);
    }

    .procedure__item:nth-child(7) {
        top: 62%;
        right: calc(18% - 10px);
    }
    .procedure__item:nth-child(8) {
        top: 71%;
        left: calc(12% - 10px);
    }
    .procedure__item:nth-child(9) {
        top: 81%;
        right: calc(18% - 10px);
    }
}
