* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

section {
  background-color: #002631;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12rem;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    padding: 0 7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    padding: 0 2.4rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header {
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 1199.98px) {
  .header {
    padding: 2.4rem 0;
  }
}
@media (max-width: 575.98px) {
  .header {
    padding: 1.4rem 0;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-logo {
  margin-right: 6rem;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header__nav-logo {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .header__nav-logo {
    margin-right: 2rem;
  }
}
@media (max-width: 575.98px) {
  .header__nav-logo {
    margin-right: 1rem;
  }
}
.header__nav-logo img {
  height: 7rem;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header__nav-logo img {
    height: 6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__nav-logo img {
    height: 5rem;
  }
}
@media screen and (min-width: 576px) {
  .header__nav-logo img {
    height: 5rem;
  }
}
@media (max-width: 575.98px) {
  .header__nav-logo img {
    height: 3rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .header__nav-logo .nav-logo__pc {
    display: none;
  }
}
.header__nav-logo img.nav-logo__small {
  display: none;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header__nav-logo img.nav-logo__small {
    display: none;
  }
}
@media screen and (max-width: 1199.98px) {
  .header__nav-logo img.nav-logo__small {
    display: block;
  }
}
.header__nav-icon {
  display: none;
  color: #000;
  font-size: 2.4rem;
  font-weight: 600;
  flex: 1;
}
.header__search-icon {
  color: #000;
  font-size: 2.4rem;
  font-weight: 600;
}
@media screen and (max-width: 767.98px) {
  .header__search-icon {
    font-size: 1.8rem;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  margin-left: 6rem;
}
.navbar li a {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 23.1px;
  color: #000;
  display: flex;
  align-items: center;
}
.navbar li a ion-icon {
  padding-left: 6px;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navbar li a {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navbar li a {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 767.98px) {
  .navbar li a {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 575.98px) {
  .navbar li a {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navbar li {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navbar li {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 576px) {
  .navbar li {
    margin-left: 4rem;
  }
}
@media (max-width: 575.98px) {
  .navbar li {
    margin-left: 1.3rem;
  }
}

.navbar-active {
  display: flex !important;
}

.banner {
  width: 100%;
  position: relative;
  background-image: url(../img/banner.png);
  padding-top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
@media screen and (max-width: 767.98px) {
  .banner {
    padding-top: 70%;
    background-position: top center;
  }
}
@media (max-width: 575.98px) {
  .banner {
    padding-top: 100%;
  }
}
.banner-img {
  max-width: 100%;
}
.banner__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
@media screen and (max-width: 1199.98px) {
  .banner__title {
    width: 70%;
  }
}
@media screen and (max-width: 767.98px) {
  .banner__title {
    top: 80%;
    transform: translateY(-80%);
  }
}
@media (max-width: 575.98px) {
  .banner__title {
    width: calc(100% - 24px);
  }
}
.banner__title-heading {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 5rem;
}
@media screen and (max-width: 1199.98px) {
  .banner__title-heading {
    --size: 3rem;
    font-size: var(--size);
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: calc(var(--size) + 0.2rem);
  }
}
@media (max-width: 575.98px) {
  .banner__title-heading {
    font-size: 3.2rem;
    line-height: 3.36rem;
  }
}
.banner__title-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.5rem;
}
@media screen and (max-width: 1199.98px) {
  .banner__title-text {
    font-size: 1.6rem;
  }
}
@media (max-width: 575.98px) {
  .banner__title-text {
    font-size: 1.8rem;
    line-height: 1.89rem;
  }
}

.intro {
  margin: 6rem 0 10rem 24rem;
  margin-top: 6rem;
  margin-bottom: 10rem;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .intro {
    margin-left: 18rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .intro {
    margin-left: 0rem;
  }
}
.intro__contain {
  display: flex;
  align-content: center;
  justify-items: flex-start;
  flex-direction: row;
  margin-bottom: 10rem;
}
@media (max-width: 575.98px) {
  .intro__contain {
    flex-direction: column;
    margin-bottom: 6rem;
  }
}
.intro__contain + .intro__contain {
  margin-bottom: 0;
}
.intro__heading {
  flex-basis: 40%;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1;
}
@media screen and (max-width: 1199.98px) {
  .intro__heading {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767.98px) {
  .intro__heading {
    padding-bottom: 1.6rem;
  }
}
.intro__block {
  flex-basis: 60%;
}
.intro__block-text {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 400;
}
@media screen and (max-width: 1199.98px) {
  .intro__block-text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767.98px) {
  .intro__block-text {
    font-size: 1.2rem;
    line-height: 1.44rem;
  }
}
.intro__block-text--line {
  position: relative;
  padding-top: 3rem;
}
.intro__block-text--line::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.5rem;
  background: #02A4AE;
  position: absolute;
  top: 0;
}

.slider {
  margin-bottom: 10rem;
}
.slider__item {
  flex-basis: 30%;
}
.slider__item .image {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border-left: 1px solid #42e8e0;
}
.slider__image {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}
.slider__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
}
.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  max-width: 60px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #42e8e0;
  border-radius: 6px;
}
.slider__btn:hover {
  background-color: #42E8E0;
}
.slider__number {
  position: relative;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  padding-bottom: 30px;
}
.slider__number::before {
  width: 30px;
  position: absolute;
  border-bottom: 3px solid #42e8e0;
  content: "";
  bottom: 0;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #42E8E0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
  background-color: #fff;
  cursor: pointer;
}

.slick-arrow svg {
  color: #000;
  fill: #000;
}

.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0%;
}

.blockchain {
  padding: 10rem 18rem;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .blockchain {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .blockchain {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 767.98px) {
  .blockchain {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.blockchain-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .blockchain-block {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
  }
}
@media (max-width: 575.98px) {
  .blockchain-block {
    gap: 1rem;
  }
}
.blockchain-block img {
  object-fit: cover;
  padding-left: 1rem;
}
@media screen and (max-width: 1199.98px) {
  .blockchain-block img {
    width: 9rem;
  }
}
@media screen and (max-width: 767.98px) {
  .blockchain-block img {
    width: 4rem;
    justify-self: center;
  }
}
@media (max-width: 575.98px) {
  .blockchain-block img {
    flex: 30%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .blockchain-block .img-plus {
    width: 20rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .blockchain-block .img-plus {
    width: 150px;
  }
}
@media screen and (max-width: 767.98px) {
  .blockchain-block .img-plus {
    width: 7rem;
  }
}
.blockchain-block .img-multichan,
.blockchain-block .img-openchain,
.blockchain-block .img-stellar {
  align-self: start;
}
.blockchain-block .img-hyper,
.blockchain-block .img-startis {
  align-self: end;
}
.blockchain-title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
@media screen and (max-width: 767.98px) {
  .blockchain-title {
    order: -1;
  }
}
.blockchain-title .title {
  color: #fff;
  font-size: 3.8rem;
  font-weight: 600;
}
@media screen and (max-width: 767.98px) {
  .blockchain-title .title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .blockchain {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .blockchain {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.chooseus {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  padding: 10rem 0;
}
@media screen and (max-width: 1199.98px) {
  .chooseus {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .chooseus {
    padding: 6rem 0;
  }
}
.chooseus__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__banner {
    align-items: flex-start;
  }
}
.chooseus__banner-heading {
  width: 65%;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__banner-heading {
    text-align: start;
  }
}
@media (max-width: 575.98px) {
  .chooseus__banner-heading {
    width: 100%;
    font-size: 2.8rem;
    line-height: 2.94rem;
    margin-bottom: 1.6rem;
  }
}
.chooseus__banner-desc {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  position: relative;
  padding-top: 4rem;
  display: none;
}
.chooseus__banner-desc::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 0.5rem;
  background: #02A4AE;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__banner-desc {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .chooseus__banner-desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-top: 1.6rem;
  }
}
.chooseus__banner-img {
  max-width: 100%;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__banner-img {
    display: none;
  }
}
.chooseus__desc {
  flex-basis: 60%;
  display: flex;
  gap: 0 4rem;
}
@media (max-width: 575.98px) {
  .chooseus__desc {
    gap: 0 2rem;
  }
}
.chooseus__desc-block {
  display: flex;
  flex-direction: column;
  gap: 4rem 0;
  flex: 1;
}
.chooseus__desc-block-text {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  position: relative;
  padding-top: 4rem;
}
.chooseus__desc-block-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 0.5rem;
  background: #02A4AE;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__desc-block-text {
    display: none;
  }
}
.chooseus__desc-block-info {
  width: 30rem;
  padding: 2rem 4rem;
  background: #02A4AE;
  align-self: end;
  border-radius: 1rem;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__desc-block-info {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .chooseus__desc-block-info {
    padding: 2rem;
  }
}
.chooseus__desc-block-info .info-icon {
  color: #fff;
  font-size: 5rem;
  display: block;
  border-bottom: 1px solid #fff;
  padding-bottom: 10rem;
}
@media (max-width: 575.98px) {
  .chooseus__desc-block-info .info-icon {
    padding-bottom: 4rem;
  }
}
.chooseus__desc-block-info .info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1rem 0;
  min-height: 100px;
}
.chooseus__desc-block-info .info-block-text {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 575.98px) {
  .chooseus__desc-block-info .info-block-text {
    font-size: 1.2rem;
  }
}
.chooseus__desc-block-info .info-block-icon {
  font-size: 3rem;
  font-weight: 600;
}
.chooseus__desc-block-info--img {
  background-color: unset;
  padding: 0;
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .chooseus__desc-block-info--img {
    display: block;
  }
}
@media screen and (max-width: 1199.98px) {
  .chooseus__desc-block:first-child {
    padding-top: 10rem;
  }
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #02A4AE;
  padding: 6rem;
  border-radius: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact {
    padding: 3rem;
  }
}
@media screen and (max-width: 767.98px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem;
  }
}
.contact__text {
  color: #fff;
}
.contact__text-heading {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
@media (max-width: 575.98px) {
  .contact__text-heading {
    font-size: 2.1rem;
  }
}
.contact__text-subtext {
  font-size: 1.8rem;
  font-weight: 400;
}
@media (max-width: 575.98px) {
  .contact__text-subtext {
    font-size: 1.2rem;
    line-height: 1.26rem;
  }
}
.contact__button-chat {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  transition: 0.3s linear;
}
.contact__button-chat:hover {
  background: #fff;
  color: #02A4AE;
}
@media screen and (max-width: 767.98px) {
  .contact__button-chat {
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.68rem;
  }
}
.contact__block {
  padding: 0 12rem;
}
@media screen and (max-width: 1199.98px) {
  .contact__block {
    padding: 0 6rem;
  }
}
@media (max-width: 575.98px) {
  .contact__block {
    padding: 0;
  }
}

.feature {
  padding-bottom: 20rem;
}
.feature__block {
  padding: 16rem 0;
}
.feature-heading {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 10rem;
}
.feature-slide .swiper {
  width: 100%;
  height: 40rem;
}
.feature-slide .swiper-wrapper .swiper-slide {
  width: calc(100% / 2 - 40px) !important;
  position: relative;
}
.feature-slide .swiper-wrapper .swiper-slide .feature-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block {
  position: absolute;
  width: 80%;
  padding: 4rem 6rem;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: 0.4s linear;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block:hover {
  background: #02A4AE;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block:hover .feature__block-days {
  color: #fff;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block-days {
  color: #02A4AE;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block-heading {
  color: #000;
  padding-right: 4rem;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block-btn {
  display: inline-flex;
  align-items: center;
  background: #02A4AE;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  transition: 0.5s linear;
}
.feature-slide .swiper-wrapper .swiper-slide .feature__block-btn:hover {
  background: #002631;
}

footer {
  background: #173E4A;
  padding: 10rem 12rem;
}
@media screen and (max-width: 1199.98px) {
  footer {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 767.98px) {
  footer {
    padding: 2.4rem 0;
  }
}

.footer__top {
  border-bottom: 1px solid #fff;
  padding: 2rem 0;
}
.footer__top-text {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 400;
}
@media screen and (max-width: 767.98px) {
  .footer__top-text {
    font-size: 1.2rem;
    line-height: 1.26rem;
  }
}
.footer__top-logo {
  max-width: 100%;
  margin: 4rem 0;
}
.footer__top-subtext {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68rem;
}
@media screen and (max-width: 767.98px) {
  .footer__top-subtext {
    font-size: 1.2rem;
    line-height: 1.26rem;
  }
}

.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
}
@media screen and (max-width: 767.98px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__bottom-coppyright {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
@media screen and (max-width: 767.98px) {
  .footer__bottom-coppyright {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__bottom-social {
    padding-top: 1.75rem;
  }
}
.footer__bottom-social a {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
  transition: 1s linear;
}
.footer__bottom-social a :hover {
  color: #02A4AE;
  transform: scale(1.3);
}

.contactus-heading {
  background: #002631;
  padding: 15rem 0;
}
.contactus-heading h2 {
  font-size: 6.4rem;
  font-weight: 500;
  color: #02A4AE;
}

.contact__form {
  background: #E5F9F9;
  padding: 10rem;
  margin: 10rem 0;
  width: 100%;
}
.contact__form-title {
  display: block;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 6.4rem;
}
.contact__form-text {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 0;
}
.contact__form .name {
  display: flex;
  gap: 0 1.6rem;
}
.contact__form .name .first-name {
  flex: 1;
}
.contact__form .name .last-name {
  flex: 1;
}
.contact__form input, .contact__form select, .contact__form textarea {
  width: 100%;
  padding: 1.6rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid rgba(61, 68, 78, 0.281);
}
.contact__form .btn-submit {
  background: #002631;
  padding: 1.2rem 4.8rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  outline: none;
  border: unset;
  cursor: pointer;
  margin-top: 6.4rem;
}

.hero {
  background: url(../img/bg-aboutus.png) no-repeat center/cover;
  max-width: 100%;
  height: auto;
  padding: 10rem 0;
}
.hero__heading {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #02A4AE;
  padding: 20rem 0 30rem 10rem;
}
.hero__block {
  display: flex;
  align-items: flex-start;
  gap: 0 5rem;
}
.hero__block-heading {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1;
  color: #fff;
  flex: 2;
}
.hero__block-subtext {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
  flex: 5;
}

.slide-aboutus {
  background: #002631;
}
.slide-aboutus .slide-block {
  position: relative;
  overflow: hidden;
}
.slide-aboutus .slide-block .list-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}
.slide-aboutus .slide-block .list-items .items {
  width: calc(100%/3 );
  padding: 1rem 1.5rem;
}
.slide-aboutus .slide-block .list-items .items .item {
  padding: 7rem 6rem;
  border: 0.6rem solid rgba(139, 139, 139, 0.295);
}
.slide-aboutus .slide-block .list-items .items .item-img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  margin-bottom: 6rem;
}
.slide-aboutus .slide-block .list-items .items .item-heading {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 8rem;
}
.slide-aboutus .slide-block .list-items .items .item-text {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
}
.slide-aboutus .slide-block .list-items .items .d-none {
  display: none;
}
.slide-aboutus .slide-block .button-slide {
  position: absolute;
  bottom: 10%;
  left: 50%;
}
.slide-aboutus .slide-block .button-slide .btn-prev {
  margin: 0.1rem;
  font-size: 3.2rem;
  border: 1px solid #fff;
  padding: 0.5rem 2rem;
  line-height: 1;
}

.news {
  background: #002631;
  color: #fff;
  padding: 6rem 0;
}

.feature-block {
  background: linear-gradient(#173e4a, rgba(23, 62, 74, 0.1));
  padding: 6rem;
}
.feature-block-heading {
  margin-bottom: 6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}
.feature-block__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.feature-block__slide-item {
  padding: 0 15px;
  width: calc(100%/2);
  height: 40rem;
  position: relative;
}
.feature-block__slide-item-img {
  min-height: 100%;
  object-position: right;
  object-fit: cover;
}
.feature-block__slide-item .items__block {
  position: absolute;
  bottom: 0;
  max-width: 80%;
  background: #02A4AE;
  padding: 2rem 4rem;
}
.feature-block__slide-item .items__block-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.6rem;
}
.feature-block__slide-item .items__block-heading {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  margin-bottom: 0.6rem;
}
.feature-block__slide-item .items__block-btn {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  background: #42E8E0;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
}
.feature-block__layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
}
.feature-block__layout-item {
  background: url(../img/layout2.jfif) no-repeat center/cover;
  flex: 1 1 calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.feature-block__layout-item .items__block {
  max-width: 80%;
  background: #02A4AE;
  padding: 2rem 4rem;
  margin-top: 12rem;
}
.feature-block__layout-item .items__block-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.6rem;
}
.feature-block__layout-item .items__block-heading {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  margin-bottom: 0.6rem;
}
.feature-block__layout-item .items__block-btn {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  background: #42E8E0;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
}
.feature-block .btn-showmore {
  background: #42E8E0;
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
  font-size: 2.4rem;
}

/*# sourceMappingURL=main.css.map */
