*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "SVN-Poppins";
  src: url(../../SVN_Poppins/PoppinsVN-500.ttf);
}
html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: "SVN-Poppins", sans-serif;
  color: white;
}

section {
  background-color: #002631;
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#main {
  background: #002631;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12rem;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    padding: 0 7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    padding: 0 2.4rem;
  }
}

header {
  background-color: white;
}

.header {
  height: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__small {
  display: none;
}
.header__logo {
  max-width: 27.4rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30rem;
}
.header__nav-item a {
  color: black;
  font-family: SVN-Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 3rem;
}
.header__nav-item a img {
  display: inline-block;
}
.header__search {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 7.8rem;
  border-left: 1px solid #c4c4c4;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__small {
    display: none;
  }
  .header__logo {
    max-width: 20rem;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
  }
  .header__nav-item a {
    color: black;
    font-family: SVN-Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 2rem;
  }
  .header__nav-item a img {
    display: inline-block;
  }
  .header__search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 7.8rem;
    border-left: 1px solid #c4c4c4;
  }
}
@media (max-width: 575.98px) {
  .header {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__small {
    display: block;
  }
  .header__logo {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: unset;
  }
  .header__nav-item a {
    color: black;
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 1rem;
  }
  .header__nav-item a img {
    display: none;
  }
  .header__search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-left: 1px solid #c4c4c4;
  }
  .header__search img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__small {
    display: none;
  }
  .header__logo {
    display: block;
    max-width: 16rem;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8rem;
  }
  .header__nav-item a {
    color: black;
    font-family: SVN-Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 1rem;
  }
  .header__nav-item a img {
    display: none;
  }
  .header__search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border-left: 1px solid #c4c4c4;
  }
  .header__search img {
    width: 80%;
  }
}
.hero {
  width: 100%;
  background: #002631 url(".././image/bg_hero.png") no-repeat center/cover;
}

.container > .hero__heading {
  padding: 39rem 0;
  max-width: 59rem;
}

.hero__heading-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3rem;
}
.hero__heading-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.hero__block .hero__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16rem;
}
.hero__block .hero__heading-title {
  padding-right: 7rem;
  flex-basis: 40%;
}
.hero__block .hero__heading-subtitle {
  flex-basis: 60%;
  position: relative;
  padding-top: 20px;
}
.hero__block .hero__heading-subtitle.subtitle-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: #00c1c1;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .hero__block .hero__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12rem;
  }
  .hero__block .hero__heading-title {
    padding-right: 7rem;
    flex-basis: 40%;
    font-size: 40px;
  }
  .hero__block .hero__heading-subtitle {
    flex-basis: 60%;
    position: relative;
    padding-top: 20px;
    font-size: 20px;
  }
  .hero__block .hero__heading-subtitle.subtitle-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #00c1c1;
  }
}
@media (max-width: 575.98px) {
  .hero {
    width: 100%;
    background: #002631 url(".././image/bg_hero.png") no-repeat top left/contain;
  }

  .container > .hero__heading {
    padding: 27rem 0 6rem;
    max-width: 59rem;
  }

  .hero__heading-title {
    font-family: SVN-Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }
  .hero__heading-subtitle {
    font-family: SVN-Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero__block .hero__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 6rem;
  }
  .hero__block .hero__heading-title {
    padding-right: 7rem;
    flex-basis: 40%;
  }
  .hero__block .hero__heading-subtitle {
    flex-basis: 60%;
    position: relative;
    padding-top: 20px;
  }
  .hero__block .hero__heading-subtitle.subtitle-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #00c1c1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    width: 100%;
    background: #002631 url(".././image/bg_hero.png") no-repeat top left/contain;
  }

  .container > .hero__heading {
    padding: 27rem 0 6rem;
    max-width: 59rem;
  }

  .hero__heading-title {
    font-family: SVN-Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }
  .hero__heading-subtitle {
    font-family: SVN-Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero__block .hero__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 6rem;
  }
  .hero__block .hero__heading-title {
    padding-right: 7rem;
    flex-basis: 40%;
  }
  .hero__block .hero__heading-subtitle {
    flex-basis: 60%;
    position: relative;
    padding-top: 20px;
  }
  .hero__block .hero__heading-subtitle.subtitle-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #00c1c1;
  }
}
footer {
  background: #173e4a;
  padding: 10rem 12rem;
}

.footer__top {
  border-bottom: 1px solid white;
  padding: 2rem 0;
}
.footer__top-text {
  color: white;
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 400;
}
.footer__top-logo {
  max-width: 100%;
  margin: 4rem 0;
}
.footer__top-subtext {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68rem;
}

.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
}
.footer__bottom-coppyright {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer__bottom-social a {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  transition: 1s linear;
}
.footer__bottom-social a :hover {
  color: #02a4ae;
  transform: scale(1.3);
}

@media (max-width: 575.98px) {
  footer {
    background: #173e4a;
    padding: 24px;
  }

  .footer__top {
    border-bottom: 1px solid white;
    padding: 2rem 0;
  }
  .footer__top-text {
    color: white;
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: 400;
  }
  .footer__top-logo {
    width: 238px;
    height: 63px;
    margin: 16px 0;
  }
  .footer__top-subtext {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
  }

  .footer__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.6rem 0;
  }
  .footer__bottom-coppyright {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .footer__bottom-social a {
    color: white;
    font-size: 18px;
    margin-left: 0;
    margin-right: 10px;
    transition: 1s linear;
  }
  .footer__bottom-social a :hover {
    color: #02a4ae;
    transform: scale(1.3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  footer {
    background: #173e4a;
    padding: 24px;
  }

  .footer__top {
    border-bottom: 1px solid white;
    padding: 2rem 0;
  }
  .footer__top-text {
    color: white;
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: 400;
  }
  .footer__top-logo {
    width: 238px;
    height: 63px;
    margin: 16px 0;
  }
  .footer__top-subtext {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
  }

  .footer__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.6rem 0;
  }
  .footer__bottom-coppyright {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .footer__bottom-social a {
    color: white;
    font-size: 18px;
    margin-left: 0;
    margin-right: 10px;
    transition: 1s linear;
  }
  .footer__bottom-social a :hover {
    color: #02a4ae;
    transform: scale(1.3);
  }
}
.contactus {
  background-color: #02a4ae;
  margin: 0 180px 16rem;
  padding: 5rem 6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactus-heading-main {
  font-family: SVN-Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}
.contactus-heading-sub {
  font-family: SVN-Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.contactus-button {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid white;
  border-radius: 5px;
}
.contactus-button-text {
  font-family: SVN-Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 12px;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .contactus {
    background-color: #02a4ae;
    margin: 0 120px 16rem;
    padding: 5rem 6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contactus-heading-main {
    font-family: SVN-Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }
  .contactus-heading-sub {
    font-family: SVN-Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .contactus-button {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .contactus-button-text {
    font-family: SVN-Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 12px;
  }
}
@media (max-width: 575.98px) {
  .contactus {
    background-color: #02a4ae;
    margin: 0 0 6rem;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .contactus-heading {
    margin-bottom: 40px;
  }
  .contactus-heading-main {
    font-family: SVN-Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }
  .contactus-heading-sub {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
  }
  .contactus-button {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .contactus-button-text {
    font-family: SVN-Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contactus {
    background-color: #02a4ae;
    margin: 0 0 6rem;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .contactus-heading {
    margin-bottom: 40px;
  }
  .contactus-heading-main {
    font-family: SVN-Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }
  .contactus-heading-sub {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
  }
  .contactus-button {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .contactus-button-text {
    font-family: SVN-Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 12px;
  }
}
.about-parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -3rem;
  margin-bottom: 16rem;
}
.about-parent .about {
  flex-basis: 33.33%;
  padding: 0 3rem;
}
.about-parent .about__item {
  padding: 6rem;
  border: 1.5rem solid #173e4a;
  height: 100%;
  max-height: 100rem;
  background-image: linear-gradient(180deg, rgba(23, 62, 74, 0) 0%, #173e4a 100%);
}
.about-parent .about__item-img {
  width: 150px;
  height: 150px;
  margin-bottom: 12rem;
}
.about-parent .about__item-title {
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10rem;
  min-height: 9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.about-parent .about__item-subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  min-height: 12rem;
  margin-bottom: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .about-parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -3rem;
    margin-bottom: 16rem;
  }
  .about-parent .about {
    flex-basis: 33.33%;
    padding: 0 3rem;
  }
  .about-parent .about__item {
    padding: 4rem;
    border: 1rem solid #173e4a;
    height: 100%;
    max-height: 100rem;
    background-image: linear-gradient(180deg, rgba(23, 62, 74, 0) 0%, #173e4a 100%);
  }
  .about-parent .about__item-img {
    width: 120px;
    height: 120px;
    margin-bottom: 8rem;
  }
  .about-parent .about__item-title {
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6rem;
    min-height: 9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .about-parent .about__item-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    min-height: 12rem;
    margin-bottom: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
@media (max-width: 575.98px) {
  .about-parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 -3rem;
    margin-bottom: 6rem;
  }
  .about-parent .about {
    flex-basis: 100%;
    padding: 0 3rem;
    margin-bottom: 6rem;
  }
  .about-parent .about__item {
    padding: 4rem;
    border: 0.6rem solid #173e4a;
    height: 100%;
    max-height: 100rem;
    background-image: linear-gradient(180deg, rgba(23, 62, 74, 0) 0%, #173e4a 100%);
  }
  .about-parent .about__item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 8rem;
  }
  .about-parent .about__item-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6rem;
    min-height: 9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .about-parent .about__item-subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    min-height: 12rem;
    margin-bottom: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 -3rem;
    margin-bottom: 6rem;
  }
  .about-parent .about {
    flex-basis: 100%;
    padding: 0 3rem;
    margin-bottom: 6rem;
  }
  .about-parent .about__item {
    padding: 4rem;
    border: 0.6rem solid #173e4a;
    height: 100%;
    max-height: 100rem;
    background-image: linear-gradient(180deg, rgba(23, 62, 74, 0) 0%, #173e4a 100%);
  }
  .about-parent .about__item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 8rem;
  }
  .about-parent .about__item-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6rem;
    min-height: 9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .about-parent .about__item-subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    min-height: 12rem;
    margin-bottom: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
.swiper {
  width: 100%;
}
.swiper h2 {
  font-size: 42px;
  margin-bottom: 10rem;
}

.swiper-slide {
  /* background-color: red; */
}

.slide-item {
  display: flex;
  align-items: stretch;
}

.item-left {
  padding: 150px 100px;
  border-top: 3px solid #3ccace;
}

.item-left img {
  min-width: 113px;
  height: 124px;
}

.item-right {
  padding: 100px;
  background: linear-gradient(90deg, #003646 0%, rgba(0, 54, 70, 0.2) 100%);
}

.item-right p {
  font-size: 20px;
}

.item-right h4 {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 64% !important;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .item-right h4 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .item-right p {
    font-size: 14px;
  }

  .item-right {
    padding: 80px;
    background: linear-gradient(90deg, #003646 0%, rgba(0, 54, 70, 0.2) 100%);
  }

  .item-left {
    padding: 130px 80px;
    border-top: 3px solid #3ccace;
  }

  .item-left img {
    min-width: 100px;
    height: 111px;
  }

  .swiper-button-next,
.swiper-button-prev {
    top: 64% !important;
  }
}
@media (max-width: 575.98px) {
  .swiper {
    width: 100%;
  }
  .swiper h2 {
    font-size: 28px;
    margin-bottom: 10rem;
  }

  .item-left {
    padding: 60px 30px;
    border-top: 1px solid #3ccace;
  }

  .item-left img {
    min-width: 63px;
    height: 69px;
  }

  .item-right {
    padding: 24px;
    background: linear-gradient(90deg, #003646 0%, rgba(0, 54, 70, 0.2) 100%);
  }

  .item-right p {
    font-size: 12px;
  }

  .item-right h4 {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0 !important;
    right: auto;
  }

  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0 !important;
    left: auto;
  }

  .swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px !important;
  }

  .swiper-button-next,
.swiper-button-prev {
    top: 72% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .swiper {
    width: 100%;
  }
  .swiper h2 {
    font-size: 28px;
    margin-bottom: 10rem;
  }

  .item-left {
    padding: 60px 30px;
    border-top: 1px solid #3ccace;
  }

  .item-left img {
    min-width: 63px;
    height: 69px;
  }

  .item-right {
    padding: 24px;
    background: linear-gradient(90deg, #003646 0%, rgba(0, 54, 70, 0.2) 100%);
  }

  .item-right p {
    font-size: 12px;
  }

  .item-right h4 {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0 !important;
    right: auto;
  }

  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0 !important;
    left: auto;
  }

  .swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px !important;
  }

  .swiper-button-next,
.swiper-button-prev {
    top: 72% !important;
  }
}
.services__how {
  margin-top: 160px;
}
.services__how-text {
  display: flex;
  gap: 0 95px;
  margin-bottom: 10rem;
}
.services__how-text-heading {
  font-family: SVN-Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 385px;
}
.services__how-text-subheading {
  font-family: SVN-Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  padding-top: 20px;
}
.services__how-text-subheading::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #00c1c1;
}
.services__how-lists {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px 60px;
  margin-bottom: 10rem;
}
.services__how-lists-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5rem;
  background-color: #001b23;
  border-radius: 10px;
}
.services__how-lists-item .services-item-left {
  display: flex;
  align-items: flex-start;
}
.services__how-lists-item .services-item-left-img {
  margin-right: 3rem;
}
.services__how-lists-item .services-item-left-subheading {
  margin-right: 6.6rem;
  max-width: 395px;
  font-family: SVN-Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.services__how-lists-item .services-item-left-heading {
  font-family: SVN-Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 6.6rem;
  max-width: 395px;
  margin-bottom: 4.6rem;
  padding: 10px 0;
}
.services__how-lists-item .services-item-right img {
  max-width: 12px;
  max-height: 12px;
}
.services__how-image {
  margin-bottom: 16rem;
}
.services__how-image-src {
  margin: 0 auto;
}
.services__how-technology {
  margin-bottom: 16rem;
}
.services__how-technology .technology {
  display: flex;
  align-items: flex-start;
  gap: 0 95px;
}
.services__how-technology .technology-heading {
  font-family: SVN-Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 385px;
}
.services__how-technology .technology-subheading {
  font-family: SVN-Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  padding-top: 20px;
}
.services__how-technology .technology-subheading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #00c1c1;
}
.services__how-technology .technology__element {
  display: flex;
  gap: 0 60px;
  justify-content: center;
}
.services__how-technology .technology__element-left, .services__how-technology .technology__element-right {
  display: flex;
  gap: 30px 0;
  flex-direction: column;
}
.services__how-technology .technology__element-left {
  align-items: flex-end;
}
.services__how-technology .technology__element-right {
  align-items: flex-start;
}
.services__how-technology .technology__element .technology-text {
  font-family: SVN-Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  display: inline-block;
  padding: 6rem;
  background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .services__how {
    margin-top: 160px;
  }
  .services__how-text {
    display: flex;
    gap: 0 95px;
    margin-bottom: 10rem;
  }
  .services__how-text-heading {
    font-family: SVN-Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 385px;
  }
  .services__how-text-subheading {
    font-family: SVN-Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    padding-top: 20px;
  }
  .services__how-text-subheading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #00c1c1;
  }
  .services__how-lists {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px 60px;
    margin-bottom: 10rem;
  }
  .services__how-lists-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    background-color: #001b23;
    border-radius: 10px;
    flex-basis: calc(50% - 60px);
  }
  .services__how-lists-item .services-item-left {
    display: flex;
    align-items: flex-start;
  }
  .services__how-lists-item .services-item-left-img {
    margin-right: 3rem;
  }
  .services__how-lists-item .services-item-left-subheading {
    margin-right: 6.6rem;
    max-width: 395px;
    font-family: SVN-Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .services__how-lists-item .services-item-left-heading {
    font-family: SVN-Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 6.6rem;
    max-width: 395px;
    margin-bottom: 3rem;
    padding: 10px 0;
  }
  .services__how-image {
    margin-bottom: 16rem;
  }
  .services__how-image-src {
    margin: 0 auto;
  }
  .services__how-technology {
    margin-bottom: 16rem;
  }
  .services__how-technology .technology {
    display: flex;
    align-items: flex-start;
    gap: 0 95px;
  }
  .services__how-technology .technology-heading {
    font-family: SVN-Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 385px;
  }
  .services__how-technology .technology-subheading {
    font-family: SVN-Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    padding-top: 20px;
  }
  .services__how-technology .technology-subheading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #00c1c1;
  }
  .services__how-technology .technology__element {
    display: flex;
    gap: 0 60px;
    justify-content: center;
  }
  .services__how-technology .technology__element-left, .services__how-technology .technology__element-right {
    display: flex;
    gap: 30px 0;
    flex-direction: column;
  }
  .services__how-technology .technology__element-left {
    align-items: flex-end;
  }
  .services__how-technology .technology__element-right {
    align-items: flex-start;
  }
  .services__how-technology .technology__element .technology-text {
    font-family: SVN-Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    padding: 6rem;
    background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
  }
}
@media (max-width: 575.98px) {
  .services__how {
    margin-top: 160px;
  }
  .services__how-text {
    display: flex;
    gap: 16px 0;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .services__how-text-heading {
    font-family: SVN-Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 385px;
  }
  .services__how-text-subheading {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    padding-top: 20px;
  }
  .services__how-text-subheading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #00c1c1;
  }
  .services__how-lists {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px 0px;
    margin-bottom: 6rem;
  }
  .services__how-lists-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 2.4rem;
    background-color: #001b23;
    border-radius: 10px;
  }
  .services__how-lists-item.order-4 {
    order: 4;
  }
  .services__how-lists-item.order-4 .services-item-right {
    transform: rotate(90deg);
  }
  .services__how-lists-item .services-item-left {
    display: flex;
    align-items: flex-start;
  }
  .services__how-lists-item .services-item-left-img {
    margin-right: 3rem;
    width: 70px;
    height: 70px;
  }
  .services__how-lists-item .services-item-left-subheading {
    margin-right: 6.6rem;
    max-width: 395px;
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
  .services__how-lists-item .services-item-left-heading {
    font-family: SVN-Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: unset;
    max-width: 143px;
    margin-bottom: 10px;
    padding: 0;
  }
  .services__how-image {
    margin-bottom: 6rem;
  }
  .services__how-image-src {
    margin: 0 auto;
  }
  .services__how-technology {
    margin-bottom: 6rem;
  }
  .services__how-technology .technology {
    display: flex;
    flex-direction: column;
    gap: 0 95px;
  }
  .services__how-technology .technology-heading {
    font-family: SVN-Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0em;
    text-align: left;
    max-width: 100%;
    margin-bottom: 16px;
  }
  .services__how-technology .technology-subheading {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .services__how-technology .technology-subheading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #00c1c1;
  }
  .services__how-technology .technology__element {
    display: flex;
    gap: 0 16px;
    justify-content: center;
  }
  .services__how-technology .technology__element-left, .services__how-technology .technology__element-right {
    display: flex;
    gap: 16px 0;
    flex-direction: column;
  }
  .services__how-technology .technology__element-left {
    align-items: flex-end;
  }
  .services__how-technology .technology__element-right {
    align-items: flex-start;
  }
  .services__how-technology .technology__element .technology-text {
    display: flex;
    align-items: center;
    font-family: SVN-Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 1.6rem;
    min-height: 80px;
    background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .services__how {
    margin-top: 160px;
  }
  .services__how-text {
    display: flex;
    gap: 16px 0;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .services__how-text-heading {
    font-family: SVN-Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 385px;
  }
  .services__how-text-subheading {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    padding-top: 20px;
  }
  .services__how-text-subheading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #00c1c1;
  }
  .services__how-lists {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px 0px;
    margin-bottom: 6rem;
  }
  .services__how-lists-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 2.4rem;
    background-color: #001b23;
    border-radius: 10px;
  }
  .services__how-lists-item.order-4 {
    order: 4;
  }
  .services__how-lists-item.order-4 .services-item-right {
    transform: rotate(90deg);
  }
  .services__how-lists-item .services-item-left {
    display: flex;
    align-items: flex-start;
  }
  .services__how-lists-item .services-item-left-img {
    margin-right: 3rem;
    width: 70px;
    height: 70px;
  }
  .services__how-lists-item .services-item-left-subheading {
    margin-right: 6.6rem;
    max-width: 395px;
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
  .services__how-lists-item .services-item-left-heading {
    font-family: SVN-Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: unset;
    max-width: 143px;
    margin-bottom: 10px;
    padding: 0;
  }
  .services__how-image {
    margin-bottom: 6rem;
  }
  .services__how-image-src {
    margin: 0 auto;
  }
  .services__how-technology {
    margin-bottom: 6rem;
  }
  .services__how-technology .technology {
    display: flex;
    flex-direction: column;
    gap: 0 95px;
  }
  .services__how-technology .technology-heading {
    font-family: SVN-Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0em;
    text-align: left;
    max-width: 100%;
    margin-bottom: 16px;
  }
  .services__how-technology .technology-subheading {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .services__how-technology .technology-subheading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #00c1c1;
  }
  .services__how-technology .technology__element {
    display: flex;
    gap: 0 16px;
    justify-content: center;
  }
  .services__how-technology .technology__element-left, .services__how-technology .technology__element-right {
    display: flex;
    gap: 16px 0;
    flex-direction: column;
  }
  .services__how-technology .technology__element-left {
    align-items: flex-end;
  }
  .services__how-technology .technology__element-right {
    align-items: flex-start;
  }
  .services__how-technology .technology__element .technology-text {
    display: flex;
    align-items: center;
    font-family: SVN-Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 1.6rem;
    min-height: 80px;
    background: linear-gradient(90deg, #00c1c1 4.56%, rgba(0, 193, 193, 0.2) 100%);
  }
}
.package {
  margin-bottom: 10rem;
}
.package__heading {
  font-family: SVN-Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 600px;
  margin-bottom: 60px;
}
.package__content-top {
  display: flex;
}
.package__content-top-item {
  flex-basis: 33.33%;
  display: flex;
  gap: 0 60px;
  align-items: center;
  padding: 30px 60px;
  border-bottom: 3px solid #fff;
}
.package__content-top-item .item-heading {
  font-family: SVN-Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 220px;
}
.package__content-top-item.active {
  background: linear-gradient(180deg, #173e4a 0%, rgba(23, 62, 74, 0.2) 100%);
  border-bottom: 3px solid #3ccace;
}
.package__content-bottom {
  display: flex;
}
.package__content-bottom .bottom-image {
  flex-basis: 33.33%;
}
.package__content-bottom .bottom-list {
  padding: 10rem;
  background: linear-gradient(90.08deg, #023847 0.06%, #002935 99.92%);
  flex-basis: 66.66%;
}
.package__content-bottom .bottom-list ul {
  list-style: outside;
}
.package__content-bottom .bottom-list ul li {
  font-family: SVN-Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 575.98px) {
  .package {
    margin-bottom: 6rem;
  }
  .package__heading {
    font-family: SVN-Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    max-width: 600px;
    margin-bottom: 30px;
  }
  .package__content-top {
    display: flex;
  }
  .package__content-top-item {
    flex-basis: 33.33%;
    display: flex;
    gap: 0 60px;
    align-items: center;
    flex-direction: column;
    padding: 16px 13px;
    border-bottom: 3px solid #fff;
  }
  .package__content-top-item .item-img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
  }
  .package__content-top-item .item-heading {
    font-family: SVN-Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    max-width: 220px;
  }
  .package__content-top-item.active {
    background: linear-gradient(180deg, #173e4a 0%, rgba(23, 62, 74, 0.2) 100%);
    border-bottom: 3px solid #3ccace;
  }
  .package__content-bottom {
    display: flex;
    flex-direction: column;
  }
  .package__content-bottom .bottom-image {
    flex-basis: 100%;
  }
  .package__content-bottom .bottom-list {
    padding: 1.6rem 32px;
    background: linear-gradient(90.08deg, #023847 0.06%, #002935 99.92%);
    flex-basis: 100%;
  }
  .package__content-bottom .bottom-list ul {
    list-style: outside;
  }
  .package__content-bottom .bottom-list ul li {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .package {
    margin-bottom: 6rem;
  }
  .package__heading {
    font-family: SVN-Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    max-width: 600px;
    margin-bottom: 30px;
  }
  .package__content-top {
    display: flex;
  }
  .package__content-top-item {
    flex-basis: 33.33%;
    display: flex;
    gap: 0 60px;
    align-items: center;
    flex-direction: column;
    padding: 16px 13px;
    border-bottom: 3px solid #fff;
  }
  .package__content-top-item .item-img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
  }
  .package__content-top-item .item-heading {
    font-family: SVN-Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    max-width: 220px;
  }
  .package__content-top-item.active {
    background: linear-gradient(180deg, #173e4a 0%, rgba(23, 62, 74, 0.2) 100%);
    border-bottom: 3px solid #3ccace;
  }
  .package__content-bottom {
    display: flex;
    flex-direction: column;
  }
  .package__content-bottom .bottom-image {
    flex-basis: 100%;
  }
  .package__content-bottom .bottom-list {
    padding: 1.6rem 32px;
    background: linear-gradient(90.08deg, #023847 0.06%, #002935 99.92%);
    flex-basis: 100%;
  }
  .package__content-bottom .bottom-list ul {
    list-style: outside;
  }
  .package__content-bottom .bottom-list ul li {
    font-family: SVN-Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
